<li>
	<% if content.users.include? current_user %>
    <%= link_to click_content_path(content.id, position:content.position, sidebar_toggle:{ status: 0 }), method:"PUT", class: "content_item" do %>
			<span class="glyphicon glyphicon-ok-circle" id="icon_ok_<%=content.position%>" aria-hidden="true" style="color:#59bc69"></span>
			<small><%= content.title %></small>
		<%end%>
	<% else %>
		<%= link_to click_content_path(content.id, position:content.position), method:"PUT", class: "content_item" do %>
			<span class="glyphicon glyphicon-ok-circle" id="icon_ok_<%=content.position%>" aria-hidden="true" style="color:#999999"></span>
			<small><%= content.title %></small>
		<%end%>
	<% end %>	
</li>
