<h3> <%= content.title %> <span class="label label-success"><%= "#{content.questions.map(&:experience).reduce(:+)} XP" %></span></h3>
<p class="description"><%= content.description %></p> 

<%= simple_form_for content, url:histories_path, method:"POST" do |exercise| %>
  <div class="content_exercise">
    <%= hidden_field :sidebar_toggle, :status, value: sidebar_toggle %>
    <input type="hidden" name="contents[content_id]" value="<%= content.id %>">
    <ol class="questions">
      <% exercise.object.questions.each do |question| %>
        <li>
          <p class="question"> <%= "#{question.title}" %></p>
          <ul>
          <%= collection_radio_buttons 'contents[answers_attributes]', question.id, question.alternatives, :id, :title do |b|%>
            <li class="radio answer">
              <%= b.label { b.radio_button + b.text }  %>
            </li>
          <% end %>
          </ul>
        </li>
      <% end %>
    </ol>
    <div id="footer-exercise">
      <%= exercise.submit "Próximo", class: "btn btn-default prox" %>
    </div>
  </div>
<% end %>

<% content_for :js do %>
  <%= javascript_include_tag "notify.js" %>
<% end %>

<script type="text/javascript">
  $.notify("<%= notice %>", "success");
</script>
