<h2>
  <%= "#{content.title} #{content.experience} XP" %>
</h2>
<%= simple_form_for content, url:collect_score_content_path, method:"POST" do |exercise| %>
  <ol class="questions">
    <% exercise.object.questions.each do |question| %>
      <li>
        <p class="question"> <%= question.description %></p>
        <ul>
        <%= collection_radio_buttons 'question[alternative_attributes]', question.id, question.alternatives, :id, :description do |b|%>
          <li class="radio">
            <%= b.label { b.radio_button + b.text }  %>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
  <%= exercise.submit "Próximo", class:"btn btn-default" %>
<% end %>

