<h3><%= "#{content.title} #{content.experience} XP" %></h3>
<p class="description"><%= content.description %></p>
<br>
<%= simple_form_for content, url:histories_path, method:"POST" do |text|%>
	<input type="hidden" name="contents[content_id]" value="<%=text.object.id%>">
	<p><%= text.object.text %></p>
	<%= text.submit "Próximo", class: "btn btn-default"%>
<%end%>