<h3 class="title_video"><%= "#{content.title} #{content.experience} XP" %></h3>
<%= simple_form_for content, url:collect_score_content_path, method:"POST" do |video|%>
	<input type="hidden" name="contents[content_id]" value="<%=content.id%>">
	<iframe width="100%" height="600" src="<%=video.object.link%>" frameborder="0" allowfullscreen></iframe>
	<br>
	<%= video.submit "Próximo", class: "btn btn-default center-block"%>
<%end%>