<p id="notice"><%= notice %></p>

<ul id="videos">
  <%= render @videos %>
</ul>

<br>

<%= simple_form_for(@video, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :link %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :experience %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
