<p id="notice"><%= notice %></p>

<h1>Listing Registries</h1>
  <div class="row">
    <% @registries.each do |registry| %>
      <div class="col-xs-4">
        <p><%= image_tag registry.course.image,class:"center-block "%></p>
        <div class="progress center-block">
            <div class="progress-bar progress-bar-striped active" role="progressbar"
                aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                40%
            </div>
        </div>
        <h2 class="text-center"><%= link_to registry.course.title, registry.course %></h2>
        <p class="text-center">limit date:<%= registry.limit_date %></p>
        <!--<%= link_to 'Show', registry %>
        <%= link_to 'Edit', edit_registry_path(registry) %>
        <%= link_to 'Destroy', registry, method: :delete, data: { confirm: 'Are you sure?' } %>-->
      </div>
    <% end %>
  </div>
<br>

<!--<%= link_to 'New Registry', new_registry_path %>-->
