<div class="col-lg-9">
  <%r = Random.new%>
  <p id="notice"><%= notice %></p>
  <div class="row list_itens_center">
    <h1>Meus Cursos</h1>

    <% @registries.each do |registry| %>
      <%course = registry.course%>
      <%value = r.rand(30..100)%>
      <div class="col-lg-4">
        <%= image_tag course.image,class:"image_radius"%>
        <h2 class=""><%= course.title%></h2>
        <div class="progress">
          <div class="progress-bar progress-bar active" role="progressbar"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%=value%>%">
            <%=value%>%
          </div>
        </div>
        <%=link_to "Continue",course, class:"btn btn-success"%>
      </div>
    <% end %>

  </div>
</div>

<div class="col-lg-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Rank</h3>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Usuário</th>
          <th>nível</th>
          <th>XP</th>
        </tr>
      </thead>
      <tbody>
        <% i = 0 %>
        <% @users.each do |user| %>
          <% i = i + 1 %>
          <tr>
            <th scope="row"><%= i %></th>
            <td>
              <img "img-circle" width="20px" height="20px" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/128/user.png" alt="" />
              <%= user.name %>
            </td>
            <td><%= user.performace.nivel %></td>
            <td><%= user.performace.total_experience %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
