<h2 class="survey-title">
  <%= @exercises[0].title %>
</h2>
<%= simple_form_for @exercises[0], url:attempts_create_path, action:"create", method:"POST" do |exercise| %>
  <%$partial="text"%>
  <ol class="questions">
    <% exercise.object.questions.each do |question| %>
      <li>
        <p class="question"> <%= question.description %></p>
        <ul>
        <%= collection_radio_buttons 'question[alternative_attributes]', question.id, question.alternatives, :id, :description do |b|%>
          <li class="radio">
            <%= b.label { b.radio_button + b.text }  %>
          </li>
        <% end %>
        </ul>
      </li>
    <% end %>
  </ol>
  <%= exercise.submit "Próximo", class:"btn btn-success" %>
<% end %>

