<h3><%=@text.title%></h3>
<br>
<%= simple_form_for @text, url:contents_path, action:"submit_contents", method:"POST", remote: true do |text|%>
	<input type="hidden" name="text[id]" value="<%=@text.id%>">
	<p><%= text.object.text %></p>
	<%= text.submit "Próximo", class: "btn btn-success"%>
<%end%>