$('.text').html('<%= j( render "text" ) if @text %>');


var next_button = '<form action="<%= contents_path %>" method="get" data-remote="true">' +
            '<input type="hidden" name="text[id]" value="<%=@next.id if @next%>">' +
            '<input type="submit" value="<%= @next.title + ">" if @next %>"> ' +
          	'</form>';

var previous_button = '<form action="<%= contents_path %>" method="get" data-remote="true">' +
            					'<input type="hidden" name="text[id]" value="<%=@previous.id if @previous%>">' +
            					'<input type="submit" value="<%= "<"+ @previous.title if @previous %>"> ' +
          						'</form>';          	

$('.text').append(next_button); 
$('.text').append(previous_button);          	
