<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @course.nivel %>
</p>

<p>
  <strong>Workload:</strong>
  <%= @course.workload %>
</p>

<p>
  <strong>Active:</strong>
  <%= @course.active %>
</p>

<p>
  <strong>Completed edition:</strong>
  <%= @course.completed_edition %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
