<div class="container">
  <p id="notice"><%=notice%></p>
  <p> <%= link_to @course.category.title, @course.category %> </p>

  <div class="relative">
  	<h1 class="course_banner_title"><%= @course.title %></h1>
  	<p class="description_course"> <%= @course.description%> </p>
  	<%if user_registered(@course)%>
  		<%= link_to 'Continue', chapters_course_path, class:"btn btn-success btn_course" %> 
  	<%else%>
  		<%= link_to 'Cadastre-se', registration_course_url, class:"btn btn-success btn_course" %>
  	<%end%>
  	<iframe class="trailer_course" width="500" height="280" src="<%=@course.trailer%>" frameborder="0" allowfullscreen></iframe>
  </div>

  <%- model_class = Chapter -%>
  <div class="page-header">
    <h1>Visão Geral</h1>
  </div>
    <% @chapters.each do |chapter| %>
      <div class="bs-callout bs-callout-primary">
        <h4>Módulo <%= chapter.id %> - <%= chapter.title %></h4>
        <p><%= chapter.description %></td></p>
      </div>
    <% end %>
</div>

