<%= simple_form_for(@chapter) do |f| %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :experience %>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                chapters_path, :class => 'btn btn-default' %>
<% end %>
