<p id="notice"><%= notice %></p>

<h1>Listing Chapters</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Position content</th>
      <th>Description</th>
      <th>Experience</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.title %></td>
        <td><%= chapter.position_content %></td>
        <td><%= chapter.description %></td>
        <td><%= chapter.experience %></td>
        <td><%= link_to 'Show', chapter %></td>
        <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
        <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_chapter_path %>
