<%= simple_form_for(@alternative) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>
    <%= f.input :correct %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
