<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @alternative.description %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @alternative.correct %>
</p>

<%= link_to 'Edit', edit_alternative_path(@alternative) %> |
<%= link_to 'Back', alternatives_path %>
