<p id="notice"><%= notice %></p>

<h1>Listing Attempts</h1>

<table>
  <thead>
    <tr>
      <th>Experience</th>
      <th>Ending time</th>
      <th>Approved</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attempts.each do |attempt| %>
      <tr>
        <td><%= attempt.experience %></td>
        <td><%= attempt.ending_time %></td>
        <td><%= attempt.approved %></td>
        <td><%= attempt.done %></td>
        <td><%= link_to 'Show', attempt %></td>
        <td><%= link_to 'Edit', edit_attempt_path(attempt) %></td>
        <td><%= link_to 'Destroy', attempt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attempt', new_attempt_path %>
