<p id="notice"><%= notice %></p>

<p>
  <strong>Experience:</strong>
  <%= @attempt.experience %>
</p>

<p>
  <strong>Ending time:</strong>
  <%= @attempt.ending_time %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @attempt.approved %>
</p>

<p>
  <strong>Done:</strong>
  <%= @attempt.done %>
</p>

<%= link_to 'Edit', edit_attempt_path(@attempt) %> |
<%= link_to 'Back', attempts_path %>
