<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= category.description %> </td>
        <td><%= image_tag category.image %></td>
        <td><%= link_to 'Learn more', category %></td>
        <!--<td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Category', new_category_path %>-->
